In [2]:
import psycopg2
import pandas as pd
from tabulate import tabulate  # For table formatting

In [3]:
import psycopg2

conn = psycopg2.connect(
    dbname="northwind_traders",
    user="postgres",
    password="Reterro%%1234",
    host="localhost",
    port="5432"
)
conn.set_session(autocommit=True)
cursor = conn.cursor()
cursor.execute("SELECT version();")
record = cursor.fetchone()
print("Sucess!!!! You are connected to - ", record, "\n")

Sucess!!!! You are connected to -  ('PostgreSQL 16.2, compiled by Visual C++ build 1937, 64-bit',)

In [4]:
# Function to Run Queries & Display Results
def query_run(query):
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        column_names = [desc[0] for desc in cursor.description]
        
        # Convert to DataFrame
        df = pd.DataFrame(result, columns=column_names)
        
        # # Print as Pretty Table
        print(tabulate(df, headers='keys', tablefmt='psql'))  
        
        #return df  # Return DataFrame for further use
        
    except psycopg2.Error as e:
        print(f"Error: {e}")

In [5]:
query ="""
        SELECT
        table_name as name,
        table_type as type
        FROM information_schema.tables
        WHERE table_schema = 'public' AND table_type IN ('BASE TABLE', 'VIEW');;"""

query_run(query)

+----+------------------------+------------+
|    | name                   | type       |
|----+------------------------+------------|
|  0 | us_states              | BASE TABLE |
|  1 | customers              | BASE TABLE |
|  2 | orders                 | BASE TABLE |
|  3 | employees              | BASE TABLE |
|  4 | shippers               | BASE TABLE |
|  5 | products               | BASE TABLE |
|  6 | order_details          | BASE TABLE |
|  7 | categories             | BASE TABLE |
|  8 | suppliers              | BASE TABLE |
|  9 | region                 | BASE TABLE |
| 10 | territories            | BASE TABLE |
| 11 | employee_territories   | BASE TABLE |
| 12 | customer_demographics  | BASE TABLE |
| 13 | customer_customer_demo | BASE TABLE |
+----+------------------------+------------+

In [6]:
for table in ['us_states', 'customers', 'orders', 'employees', 'shippers', 'products', 'order_details', 'categories', 'suppliers']:
    query = f"SELECT * FROM {table} LIMIT 5;"
    print(f"\n\n{table.upper()}\n")
    print(query_run(query))

US_STATES

+----+------------+--------------+--------------+----------------+
|    |   state_id | state_name   | state_abbr   | state_region   |
|----+------------+--------------+--------------+----------------|
|  0 |          1 | Alabama      | AL           | south          |
|  1 |          2 | Alaska       | AK           | north          |
|  2 |          3 | Arizona      | AZ           | west           |
|  3 |          4 | Arkansas     | AR           | south          |
|  4 |          5 | California   | CA           | west           |
+----+------------+--------------+--------------+----------------+
None


CUSTOMERS

+----+---------------+------------------------------------+--------------------+----------------------+-------------------------------+-------------+----------+---------------+-----------+----------------+----------------+
|    | customer_id   | company_name                       | contact_name       | contact_title        | address                       | city        | region   | postal_code   | country   | phone          | fax            |
|----+---------------+------------------------------------+--------------------+----------------------+-------------------------------+-------------+----------+---------------+-----------+----------------+----------------|
|  0 | ALFKI         | Alfreds Futterkiste                | Maria Anders       | Sales Representative | Obere Str. 57                 | Berlin      |          | 12209         | Germany   | 030-0074321    | 030-0076545    |
|  1 | ANATR         | Ana Trujillo Emparedados y helados | Ana Trujillo       | Owner                | Avda. de la Constitución 2222 | México D.F. |          | 05021         | Mexico    | (5) 555-4729   | (5) 555-3745   |
|  2 | ANTON         | Antonio Moreno Taquería            | Antonio Moreno     | Owner                | Mataderos  2312               | México D.F. |          | 05023         | Mexico    | (5) 555-3932   |                |
|  3 | AROUT         | Around the Horn                    | Thomas Hardy       | Sales Representative | 120 Hanover Sq.               | London      |          | WA1 1DP       | UK        | (171) 555-7788 | (171) 555-6750 |
|  4 | BERGS         | Berglunds snabbköp                 | Christina Berglund | Order Administrator  | Berguvsvägen  8               | Luleå       |          | S-958 22      | Sweden    | 0921-12 34 65  | 0921-12 34 67  |
+----+---------------+------------------------------------+--------------------+----------------------+-------------------------------+-------------+----------+---------------+-----------+----------------+----------------+
None


ORDERS

+----+------------+---------------+---------------+--------------+-----------------+----------------+------------+-----------+---------------------------+----------------------+----------------+---------------+--------------------+----------------+
|    |   order_id | customer_id   |   employee_id | order_date   | required_date   | shipped_date   |   ship_via |   freight | ship_name                 | ship_address         | ship_city      | ship_region   | ship_postal_code   | ship_country   |
|----+------------+---------------+---------------+--------------+-----------------+----------------+------------+-----------+---------------------------+----------------------+----------------+---------------+--------------------+----------------|
|  0 |      10248 | VINET         |             5 | 1996-07-04   | 1996-08-01      | 1996-07-16     |          3 |     32.38 | Vins et alcools Chevalier | 59 rue de l'Abbaye   | Reims          |               | 51100              | France         |
|  1 |      10249 | TOMSP         |             6 | 1996-07-05   | 1996-08-16      | 1996-07-10     |          1 |     11.61 | Toms Spezialitäten        | Luisenstr. 48        | Münster        |               | 44087              | Germany        |
|  2 |      10250 | HANAR         |             4 | 1996-07-08   | 1996-08-05      | 1996-07-12     |          2 |     65.83 | Hanari Carnes             | Rua do Paço, 67      | Rio de Janeiro | RJ            | 05454-876          | Brazil         |
|  3 |      10251 | VICTE         |             3 | 1996-07-08   | 1996-08-05      | 1996-07-15     |          1 |     41.34 | Victuailles en stock      | 2, rue du Commerce   | Lyon           |               | 69004              | France         |
|  4 |      10252 | SUPRD         |             4 | 1996-07-09   | 1996-08-06      | 1996-07-11     |          2 |     51.3  | Suprêmes délices          | Boulevard Tirou, 255 | Charleroi      |               | B-6000             | Belgium        |
+----+------------+---------------+---------------+--------------+-----------------+----------------+------------+-----------+---------------------------+----------------------+----------------+---------------+--------------------+----------------+
None


EMPLOYEES

+----+---------------+-------------+--------------+-----------------------+---------------------+--------------+-------------+-----------------------------+----------+----------+---------------+-----------+----------------+-------------+--------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+----------------------------------------+
|    |   employee_id | last_name   | first_name   | title                 | title_of_courtesy   | birth_date   | hire_date   | address                     | city     | region   | postal_code   | country   | home_phone     |   extension | photo                          | notes                                                                                                                                                                                                                                                                                                                                                                                                                                                            |   reports_to | photo_path                             |
|----+---------------+-------------+--------------+-----------------------+---------------------+--------------+-------------+-----------------------------+----------+----------+---------------+-----------+----------------+-------------+--------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+----------------------------------------|
|  0 |             1 | Davolio     | Nancy        | Sales Representative  | Ms.                 | 1948-12-08   | 1992-05-01  | 507 - 20th Ave. E.\nApt. 2A | Seattle  | WA       | 98122         | USA       | (206) 555-9857 |        5467 | <memory at 0x000002C22AE9B580> | Education includes a BA in psychology from Colorado State University in 1970.  She also completed The Art of the Cold Call.  Nancy is a member of Toastmasters International.                                                                                                                                                                                                                                                                                    |            2 | http://accweb/emmployees/davolio.bmp   |
|  1 |             2 | Fuller      | Andrew       | Vice President, Sales | Dr.                 | 1952-02-19   | 1992-08-14  | 908 W. Capital Way          | Tacoma   | WA       | 98401         | USA       | (206) 555-9482 |        3457 | <memory at 0x000002C22AE9B700> | Andrew received his BTS commercial in 1974 and a Ph.D. in international marketing from the University of Dallas in 1981.  He is fluent in French and Italian and reads German.  He joined the company as a sales representative, was promoted to sales manager in January 1992 and to vice president of sales in March 1993.  Andrew is a member of the Sales Management Roundtable, the Seattle Chamber of Commerce, and the Pacific Rim Importers Association. |          nan | http://accweb/emmployees/fuller.bmp    |
|  2 |             3 | Leverling   | Janet        | Sales Representative  | Ms.                 | 1963-08-30   | 1992-04-01  | 722 Moss Bay Blvd.          | Kirkland | WA       | 98033         | USA       | (206) 555-3412 |        3355 | <memory at 0x000002C22AE9B880> | Janet has a BS degree in chemistry from Boston College (1984).  She has also completed a certificate program in food retailing management.  Janet was hired as a sales associate in 1991 and promoted to sales representative in February 1992.                                                                                                                                                                                                                  |            2 | http://accweb/emmployees/leverling.bmp |
|  3 |             4 | Peacock     | Margaret     | Sales Representative  | Mrs.                | 1937-09-19   | 1993-05-03  | 4110 Old Redmond Rd.        | Redmond  | WA       | 98052         | USA       | (206) 555-8122 |        5176 | <memory at 0x000002C22AE9BA00> | Margaret holds a BA in English literature from Concordia College (1958) and an MA from the American Institute of Culinary Arts (1966).  She was assigned to the London office temporarily from July through November 1992.                                                                                                                                                                                                                                       |            2 | http://accweb/emmployees/peacock.bmp   |
|  4 |             5 | Buchanan    | Steven       | Sales Manager         | Mr.                 | 1955-03-04   | 1993-10-17  | 14 Garrett Hill             | London   |          | SW1 8JR       | UK        | (71) 555-4848  |        3453 | <memory at 0x000002C22AE9BB80> | Steven Buchanan graduated from St. Andrews University, Scotland, with a BSC degree in 1976.  Upon joining the company as a sales representative in 1992, he spent 6 months in an orientation program at the Seattle office and then returned to his permanent post in London.  He was promoted to sales manager in March 1993.  Mr. Buchanan has completed the courses Successful Telemarketing and International Sales Management.  He is fluent in French.     |            2 | http://accweb/emmployees/buchanan.bmp  |
+----+---------------+-------------+--------------+-----------------------+---------------------+--------------+-------------+-----------------------------+----------+----------+---------------+-----------+----------------+-------------+--------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+----------------------------------------+
None


SHIPPERS

+----+--------------+-------------------+----------------+
|    |   shipper_id | company_name      | phone          |
|----+--------------+-------------------+----------------|
|  0 |            1 | Speedy Express    | (503) 555-9831 |
|  1 |            2 | United Package    | (503) 555-3199 |
|  2 |            3 | Federal Shipping  | (503) 555-9931 |
|  3 |            4 | Alliance Shippers | 1-800-222-0451 |
|  4 |            5 | UPS               | 1-800-782-7892 |
+----+--------------+-------------------+----------------+
None


PRODUCTS

+----+--------------+------------------------------+---------------+---------------+---------------------+--------------+------------------+------------------+-----------------+----------------+
|    |   product_id | product_name                 |   supplier_id |   category_id | quantity_per_unit   |   unit_price |   units_in_stock |   units_on_order |   reorder_level |   discontinued |
|----+--------------+------------------------------+---------------+---------------+---------------------+--------------+------------------+------------------+-----------------+----------------|
|  0 |            1 | Chai                         |             8 |             1 | 10 boxes x 30 bags  |        18    |               39 |                0 |              10 |              1 |
|  1 |            2 | Chang                        |             1 |             1 | 24 - 12 oz bottles  |        19    |               17 |               40 |              25 |              1 |
|  2 |            3 | Aniseed Syrup                |             1 |             2 | 12 - 550 ml bottles |        10    |               13 |               70 |              25 |              0 |
|  3 |            4 | Chef Anton's Cajun Seasoning |             2 |             2 | 48 - 6 oz jars      |        22    |               53 |                0 |               0 |              0 |
|  4 |            5 | Chef Anton's Gumbo Mix       |             2 |             2 | 36 boxes            |        21.35 |                0 |                0 |               0 |              1 |
+----+--------------+------------------------------+---------------+---------------+---------------------+--------------+------------------+------------------+-----------------+----------------+
None


ORDER_DETAILS

+----+------------+--------------+--------------+------------+------------+
|    |   order_id |   product_id |   unit_price |   quantity |   discount |
|----+------------+--------------+--------------+------------+------------|
|  0 |      10248 |           11 |         14   |         12 |          0 |
|  1 |      10248 |           42 |          9.8 |         10 |          0 |
|  2 |      10248 |           72 |         34.8 |          5 |          0 |
|  3 |      10249 |           14 |         18.6 |          9 |          0 |
|  4 |      10249 |           51 |         42.4 |         40 |          0 |
+----+------------+--------------+--------------+------------+------------+
None


CATEGORIES

+----+---------------+-----------------+------------------------------------------------------------+--------------------------------+
|    |   category_id | category_name   | description                                                | picture                        |
|----+---------------+-----------------+------------------------------------------------------------+--------------------------------|
|  0 |             1 | Beverages       | Soft drinks, coffees, teas, beers, and ales                | <memory at 0x000002C22AE9AC80> |
|  1 |             2 | Condiments      | Sweet and savory sauces, relishes, spreads, and seasonings | <memory at 0x000002C22AE9BB80> |
|  2 |             3 | Confections     | Desserts, candies, and sweet breads                        | <memory at 0x000002C22AE9BA00> |
|  3 |             4 | Dairy Products  | Cheeses                                                    | <memory at 0x000002C22AE9B880> |
|  4 |             5 | Grains/Cereals  | Breads, crackers, pasta, and cereal                        | <memory at 0x000002C22AE9B700> |
+----+---------------+-----------------+------------------------------------------------------------+--------------------------------+
None


SUPPLIERS

+----+---------------+------------------------------------+----------------------------+----------------------+---------------------------+-------------+----------+---------------+-----------+----------------+----------------+-------------+
|    |   supplier_id | company_name                       | contact_name               | contact_title        | address                   | city        | region   | postal_code   | country   | phone          | fax            | homepage    |
|----+---------------+------------------------------------+----------------------------+----------------------+---------------------------+-------------+----------+---------------+-----------+----------------+----------------+-------------|
|  0 |             1 | Exotic Liquids                     | Charlotte Cooper           | Purchasing Manager   | 49 Gilbert St.            | London      |          | EC1 4SD       | UK        | (171) 555-2222 |                |             |
|  1 |             2 | New Orleans Cajun Delights         | Shelley Burke              | Order Administrator  | P.O. Box 78934            | New Orleans | LA       | 70117         | USA       | (100) 555-4822 |                | #CAJUN.HTM# |
|  2 |             3 | Grandma Kelly's Homestead          | Regina Murphy              | Sales Representative | 707 Oxford Rd.            | Ann Arbor   | MI       | 48104         | USA       | (313) 555-5735 | (313) 555-3349 |             |
|  3 |             4 | Tokyo Traders                      | Yoshi Nagase               | Marketing Manager    | 9-8 Sekimai Musashino-shi | Tokyo       |          | 100           | Japan     | (03) 3555-5011 |                |             |
|  4 |             5 | Cooperativa de Quesos 'Las Cabras' | Antonio del Valle Saavedra | Export Administrator | Calle del Rosal 4         | Oviedo      | Asturias | 33007         | Spain     | (98) 598 76 54 |                |             |
+----+---------------+------------------------------------+----------------------------+----------------------+---------------------------+-------------+----------+---------------+-----------+----------------+----------------+-------------+
None

Ranking Employee Total Order Performance

In [7]:
query="""
        SELECT 
            employee_id,
            COUNT(*) AS orders_count,
            DENSE_RANK() OVER (ORDER BY COUNT(*) DESC) AS rank
        FROM orders
        GROUP BY employee_id
        """
        
query_run(query)

+----+---------------+----------------+--------+
|    |   employee_id |   orders_count |   rank |
|----+---------------+----------------+--------|
|  0 |             4 |            156 |      1 |
|  1 |             3 |            127 |      2 |
|  2 |             1 |            123 |      3 |
|  3 |             8 |            104 |      4 |
|  4 |             2 |             96 |      5 |
|  5 |             7 |             72 |      6 |
|  6 |             6 |             67 |      7 |
|  7 |             9 |             43 |      8 |
|  8 |             5 |             42 |      9 |
+----+---------------+----------------+--------+

Ranking Employee Sales Performance

In [8]:
query=""" 
        WITH total_emp_sales AS (
            SELECT
                orders.employee_id,
                emp.first_name || ' ' || emp.last_name AS employee_name,
                SUM(o_d.quantity * o_d.unit_price * (1 - o_d.discount)) AS total_sales
            FROM
                orders
            JOIN
                order_details o_d ON orders.order_id = o_d.order_id
            JOIN
                employees emp ON orders.employee_id = emp.employee_id
            
            GROUP BY
                orders.employee_id, employee_name
            ORDER BY
                total_sales DESC
        )
        SELECT
            employee_id,
            employee_name,
            total_sales,
            DENSE_RANK() OVER (ORDER BY total_sales DESC) AS rank
        FROM
            total_emp_sales
        """

query_run(query)

+----+---------------+------------------+---------------+--------+
|    |   employee_id | employee_name    |   total_sales |   rank |
|----+---------------+------------------+---------------+--------|
|  0 |             4 | Margaret Peacock |      232891   |      1 |
|  1 |             3 | Janet Leverling  |      202813   |      2 |
|  2 |             1 | Nancy Davolio    |      192108   |      3 |
|  3 |             2 | Andrew Fuller    |      166538   |      4 |
|  4 |             8 | Laura Callahan   |      126862   |      5 |
|  5 |             7 | Robert King      |      124568   |      6 |
|  6 |             9 | Anne Dodsworth   |       77308.1 |      7 |
|  7 |             6 | Michael Suyama   |       73913.1 |      8 |
|  8 |             5 | Steven Buchanan  |       68792.3 |      9 |
+----+---------------+------------------+---------------+--------+

 Running Total of Monthly Sales

In [9]:
query = """
        SELECT
            TO_CHAR(DATE_TRUNC('MONTH', order_date), 'YYYY-MM') AS month,
            SUM(o_d.quantity * o_d.unit_price * (1 - o_d.discount)) AS total_sales_of_month
        FROM
            orders
        JOIN
            order_details o_d ON orders.order_id = o_d.order_id
        GROUP BY
            month
        ORDER BY
            month ASC
    """
    
query_run(query)

+----+---------+------------------------+
|    | month   |   total_sales_of_month |
|----+---------+------------------------|
|  0 | 1996-07 |                27861.9 |
|  1 | 1996-08 |                25485.3 |
|  2 | 1996-09 |                26381.4 |
|  3 | 1996-10 |                37515.7 |
|  4 | 1996-11 |                45600   |
|  5 | 1996-12 |                45239.6 |
|  6 | 1997-01 |                61258.1 |
|  7 | 1997-02 |                38483.6 |
|  8 | 1997-03 |                38547.2 |
|  9 | 1997-04 |                53033   |
| 10 | 1997-05 |                53781.3 |
| 11 | 1997-06 |                36362.8 |
| 12 | 1997-07 |                51020.9 |
| 13 | 1997-08 |                47287.7 |
| 14 | 1997-09 |                55629.2 |
| 15 | 1997-10 |                66749.2 |
| 16 | 1997-11 |                43533.8 |
| 17 | 1997-12 |                71398.4 |
| 18 | 1998-01 |                94222.1 |
| 19 | 1998-02 |                99415.3 |
| 20 | 1998-03 |               104854   |
| 21 | 1998-04 |               123799   |
| 22 | 1998-05 |                18333.6 |
+----+---------+------------------------+

Month-Over-Month Sales Growth

In [10]:
query="""
    WITH monthly_sales AS (
        SELECT
            TO_CHAR(DATE_TRUNC('MONTH', order_date), 'YYYY-MM') AS month,
            SUM(o_d.quantity * o_d.unit_price * (1 - o_d.discount)) AS total_sales_of_month
        FROM
            orders
        JOIN
            order_details o_d ON orders.order_id = o_d.order_id
        GROUP BY
            month
        ORDER BY
            month ASC
    )
    SELECT
        month,
        total_sales_of_month,
        LAG(total_sales_of_month) OVER (ORDER BY month) AS last_month_sales,
        total_sales_of_month - LAG(total_sales_of_month) OVER (ORDER BY month) AS sales_growth
    FROM
        monthly_sales
            """
query_run(query)

+----+---------+------------------------+--------------------+----------------+
|    | month   |   total_sales_of_month |   last_month_sales |   sales_growth |
|----+---------+------------------------+--------------------+----------------|
|  0 | 1996-07 |                27861.9 |              nan   |       nan      |
|  1 | 1996-08 |                25485.3 |            27861.9 |     -2376.62   |
|  2 | 1996-09 |                26381.4 |            25485.3 |       896.125  |
|  3 | 1996-10 |                37515.7 |            26381.4 |     11134.3    |
|  4 | 1996-11 |                45600   |            37515.7 |      8084.32   |
|  5 | 1996-12 |                45239.6 |            45600   |      -360.415  |
|  6 | 1997-01 |                61258.1 |            45239.6 |     16018.4    |
|  7 | 1997-02 |                38483.6 |            61258.1 |    -22774.4    |
|  8 | 1997-03 |                38547.2 |            38483.6 |        63.5852 |
|  9 | 1997-04 |                53033   |            38547.2 |     14485.7    |
| 10 | 1997-05 |                53781.3 |            53033   |       748.337  |
| 11 | 1997-06 |                36362.8 |            53781.3 |    -17418.5    |
| 12 | 1997-07 |                51020.9 |            36362.8 |     14658.1    |
| 13 | 1997-08 |                47287.7 |            51020.9 |     -3733.19   |
| 14 | 1997-09 |                55629.2 |            47287.7 |      8341.57   |
| 15 | 1997-10 |                66749.2 |            55629.2 |     11120      |
| 16 | 1997-11 |                43533.8 |            66749.2 |    -23215.4    |
| 17 | 1997-12 |                71398.4 |            43533.8 |     27864.6    |
| 18 | 1998-01 |                94222.1 |            71398.4 |     22823.7    |
| 19 | 1998-02 |                99415.3 |            94222.1 |      5193.18   |
| 20 | 1998-03 |               104854   |            99415.3 |      5438.87   |
| 21 | 1998-04 |               123799   |           104854   |     18944.5    |
| 22 | 1998-05 |                18333.6 |           123799   |   -105465      |
+----+---------+------------------------+--------------------+----------------+

Identifying High-Value Customers

In [11]:
query = """
    WITH avg_sales AS(
        SELECT
            AVG( o_d.quantity * o_d.unit_price * (1 - o_d.discount)) AS avg_sales
        FROM
            orders
        JOIN
            order_details o_d ON orders.order_id = o_d.order_id
    ),
    
    total_sales AS (
        SELECT
            orders.customer_id AS customer_id,
            customer.company_name AS company_name,
            SUM(o_d.quantity * o_d.unit_price * (1 - o_d.discount)) AS total_sales 
        FROM
            orders
        JOIN
            order_details o_d ON orders.order_id = o_d.order_id
        JOIN
            customers customer ON orders.customer_id = customer.customer_id
        GROUP BY
            orders.customer_id, company_name
    )
    SELECT
        customer_id,
        company_name,
        total_sales    
    FROM
        avg_sales,
        total_sales
    WHERE
        total_sales > avg_sales
    ORDER BY
        total_sales DESC

            
"""

query_run(query)

+----+---------------+------------------------------------+---------------+
|    | customer_id   | company_name                       |   total_sales |
|----+---------------+------------------------------------+---------------|
|  0 | QUICK         | QUICK-Stop                         |     110277    |
|  1 | ERNSH         | Ernst Handel                       |     104875    |
|  2 | SAVEA         | Save-a-lot Markets                 |     104362    |
|  3 | RATTC         | Rattlesnake Canyon Grocery         |      51097.8  |
|  4 | HUNGO         | Hungry Owl All-Night Grocers       |      49979.9  |
|  5 | HANAR         | Hanari Carnes                      |      32841.4  |
|  6 | KOENE         | Königlich Essen                    |      30908.4  |
|  7 | FOLKO         | Folk och fä HB                     |      29567.6  |
|  8 | MEREP         | Mère Paillarde                     |      28872.2  |
|  9 | WHITC         | White Clover Markets               |      27363.6  |
| 10 | FRANK         | Frankenversand                     |      26656.6  |
| 11 | QUEEN         | Queen Cozinha                      |      25717.5  |
| 12 | BERGS         | Berglunds snabbköp                 |      24927.6  |
| 13 | SUPRD         | Suprêmes délices                   |      24088.8  |
| 14 | PICCO         | Piccolo und mehr                   |      23128.9  |
| 15 | HILAA         | HILARION-Abastos                   |      22768.8  |
| 16 | BONAP         | Bon app'                           |      21963.3  |
| 17 | BOTTM         | Bottom-Dollar Markets              |      20801.6  |
| 18 | RICSU         | Richter Supermarkt                 |      19343.8  |
| 19 | LEHMS         | Lehmanns Marktstand                |      19261.4  |
| 20 | BLONP         | Blondesddsl père et fils           |      18534.1  |
| 21 | GREAL         | Great Lakes Food Market            |      18507.4  |
| 22 | SIMOB         | Simons bistro                      |      16817.1  |
| 23 | LINOD         | LINO-Delicateses                   |      16476.6  |
| 24 | SEVES         | Seven Seas Imports                 |      16215.3  |
| 25 | LILAS         | LILA-Supermercado                  |      16076.6  |
| 26 | VAFFE         | Vaffeljernet                       |      15843.9  |
| 27 | WARTH         | Wartian Herkku                     |      15648.7  |
| 28 | OLDWO         | Old World Delicatessen             |      15177.5  |
| 29 | EASTC         | Eastern Connection                 |      14761    |
| 30 | AROUT         | Around the Horn                    |      13390.6  |
| 31 | OTTIK         | Ottilies Käseladen                 |      12496.2  |
| 32 | RICAR         | Ricardo Adocicados                 |      12450.8  |
| 33 | CHOPS         | Chop-suey Chinese                  |      12348.9  |
| 34 | FOLIG         | Folies gourmandes                  |      11666.9  |
| 35 | GODOS         | Godos Cocina Típica                |      11446.4  |
| 36 | SPLIR         | Split Rail Beer & Ale              |      11441.6  |
| 37 | TORTU         | Tortuga Restaurante                |      10812.2  |
| 38 | MAISD         | Maison Dewey                       |       9736.08 |
| 39 | WANDK         | Die Wandernde Kuh                  |       9588.42 |
| 40 | LAMAI         | La maison d'Asie                   |       9328.2  |
| 41 | VICTE         | Victuailles en stock               |       9182.43 |
| 42 | GOURL         | Gourmet Lanchonetes                |       8414.13 |
| 43 | MAGAA         | Magazzini Alimentari Riuniti       |       7176.21 |
| 44 | REGGC         | Reggiani Caseifici                 |       7048.24 |
| 45 | ANTON         | Antonio Moreno Taquería            |       7023.98 |
| 46 | TRADH         | Tradição Hipermercados             |       6850.66 |
| 47 | QUEDE         | Que Delícia                        |       6664.81 |
| 48 | FURIB         | Furia Bacalhau e Frutos do Mar     |       6427.42 |
| 49 | ISLAT         | Island Trading                     |       6146.3  |
| 50 | BSBEV         | B's Beverages                      |       6089.9  |
| 51 | WELLI         | Wellington Importadora             |       6068.2  |
| 52 | SANTG         | Santé Gourmet                      |       5735.15 |
| 53 | PRINI         | Princesa Isabel Vinhos             |       5044.94 |
| 54 | MORGK         | Morgenstern Gesundkost             |       5042.2  |
| 55 | TOMSP         | Toms Spezialitäten                 |       4778.14 |
| 56 | ALFKI         | Alfreds Futterkiste                |       4273    |
| 57 | LONEP         | Lonesome Pine Restaurant           |       4258.6  |
| 58 | PERIC         | Pericles Comidas clásicas          |       4242.2  |
| 59 | BOLID         | Bólido Comidas preparadas          |       4232.85 |
| 60 | FAMIA         | Familia Arquibaldo                 |       4107.55 |
| 61 | COMMI         | Comércio Mineiro                   |       3810.75 |
| 62 | DRACD         | Drachenblut Delikatessen           |       3763.21 |
| 63 | WOLZA         | Wolski  Zajazd                     |       3531.95 |
| 64 | OCEAN         | Océano Atlántico Ltda.             |       3460.2  |
| 65 | THEBI         | The Big Cheese                     |       3361    |
| 66 | BLAUS         | Blauer See Delikatessen            |       3239.8  |
| 67 | FRANR         | France restauration                |       3172.16 |
| 68 | WILMK         | Wilman Kala                        |       3161.35 |
| 69 | LETSS         | Let's Stop N Shop                  |       3076.47 |
| 70 | HUNGC         | Hungry Coyote Import Store         |       3063.2  |
| 71 | RANCH         | Rancho grande                      |       2844.1  |
| 72 | SPECD         | Spécialités du monde               |       2423.35 |
| 73 | LACOR         | La corne d'abondance               |       1992.05 |
| 74 | THECR         | The Cracker Box                    |       1947.24 |
| 75 | CACTU         | Cactus Comidas para llevar         |       1814.8  |
| 76 | CONSH         | Consolidated Holdings              |       1719.1  |
| 77 | DUMON         | Du monde entier                    |       1615.9  |
| 78 | TRAIH         | Trail's Head Gourmet Provisioners  |       1571.2  |
| 79 | FRANS         | Franchi S.p.A.                     |       1545.7  |
| 80 | GROSR         | GROSELLA-Restaurante               |       1488.7  |
| 81 | VINET         | Vins et alcools Chevalier          |       1480    |
| 82 | ROMEY         | Romero y tomillo                   |       1467.29 |
| 83 | ANATR         | Ana Trujillo Emparedados y helados |       1402.95 |
| 84 | GALED         | Galería del gastrónomo             |        836.7  |
| 85 | NORTS         | North/South                        |        649    |
+----+---------------+------------------------------------+---------------+

Percentage of Sales for Each Category

In [27]:
query=""" 
    WITH category_sales AS (
        SELECT
            cat.category_name,
            SUM(o_d.quantity * o_d.unit_price * (1 - o_d.discount)) AS total_sales
        FROM
            orders 
        JOIN
            order_details o_d ON orders.order_id = o_d.order_id
        JOIN
            products p ON o_d.product_id = p.product_id
        JOIN
            categories cat ON p.category_id = cat.category_id
        GROUP BY
            cat.category_name
        
    )
    SELECT
        category_name,
        total_sales,
        ROUND(CAST(total_sales / SUM(total_sales) OVER () * 100 AS NUMERIC), 2) AS sales_percentage
    FROM
        category_sales
    ORDER BY
        total_sales DESC;

"""

query_run(query)

+----+-----------------+---------------+--------------------+
|    | category_name   |   total_sales |   sales_percentage |
|----+-----------------+---------------+--------------------|
|  0 | Beverages       |      267868   |              21.16 |
|  1 | Dairy Products  |      234507   |              18.53 |
|  2 | Confections     |      167357   |              13.22 |
|  3 | Meat/Poultry    |      163022   |              12.88 |
|  4 | Seafood         |      131262   |              10.37 |
|  5 | Condiments      |      106047   |               8.38 |
|  6 | Produce         |       99984.6 |               7.9  |
|  7 | Grains/Cereals  |       95744.6 |               7.56 |
+----+-----------------+---------------+--------------------+

Top Products Per Category

In [39]:
query = """
    WITH category_sales AS (
        SELECT
            cat.category_name,
            p.product_name,
            SUM(o_d.quantity * o_d.unit_price * (1 - o_d.discount)) AS total_sales
        FROM
            orders 
        JOIN
            order_details o_d ON orders.order_id = o_d.order_id
        JOIN
            products p ON o_d.product_id = p.product_id
        JOIN
            categories cat ON p.category_id = cat.category_id
        GROUP BY
            cat.category_name,p.product_name
    ),
    category_rank AS (
    SELECT
        category_name,
        product_name,
        total_sales,
        ROUND(CAST(total_sales / SUM(total_sales) OVER () * 100 AS NUMERIC), 2) AS sales_percentage,
        RANK() OVER (PARTITION BY category_name ORDER BY total_sales DESC) AS rank
    FROM
        category_sales
    ORDER BY
        category_name ASC, total_sales DESC
    )
    SELECT
        category_name,
        product_name,
        total_sales,
        sales_percentage,
        rank
    FROM
        category_rank
    WHERE
        rank <= 3
    
"""

query_run(query)

+----+-----------------+----------------------------------+---------------+--------------------+--------+
|    | category_name   | product_name                     |   total_sales |   sales_percentage |   rank |
|----+-----------------+----------------------------------+---------------+--------------------+--------|
|  0 | Beverages       | Côte de Blaye                    |      141397   |              11.17 |      1 |
|  1 | Beverages       | Ipoh Coffee                      |       23526.7 |               1.86 |      2 |
|  2 | Beverages       | Chang                            |       16356   |               1.29 |      3 |
|  3 | Condiments      | Vegie-spread                     |       16701.1 |               1.32 |      1 |
|  4 | Condiments      | Sirop d'érable                   |       14352.6 |               1.13 |      2 |
|  5 | Condiments      | Louisiana Fiery Hot Pepper Sauce |       13869.9 |               1.1  |      3 |
|  6 | Confections     | Tarte au sucre                   |       47235   |               3.73 |      1 |
|  7 | Confections     | Sir Rodney's Marmalade           |       22563.4 |               1.78 |      2 |
|  8 | Confections     | Gumbär Gummibärchen              |       19849.1 |               1.57 |      3 |
|  9 | Dairy Products  | Raclette Courdavault             |       71155.7 |               5.62 |      1 |
| 10 | Dairy Products  | Camembert Pierrot                |       46825.5 |               3.7  |      2 |
| 11 | Dairy Products  | Mozzarella di Giovanni           |       24900.1 |               1.97 |      3 |
| 12 | Grains/Cereals  | Gnocchi di nonna Alice           |       42593.1 |               3.36 |      1 |
| 13 | Grains/Cereals  | Wimmers gute Semmelknödel        |       21958   |               1.73 |      2 |
| 14 | Grains/Cereals  | Singaporean Hokkien Fried Mee    |        8575   |               0.68 |      3 |
| 15 | Meat/Poultry    | Thüringer Rostbratwurst          |       80368.7 |               6.35 |      1 |
| 16 | Meat/Poultry    | Alice Mutton                     |       32698.4 |               2.58 |      2 |
| 17 | Meat/Poultry    | Perth Pasties                    |       20574.2 |               1.63 |      3 |
| 18 | Produce         | Manjimup Dried Apples            |       41819.7 |               3.3  |      1 |
| 19 | Produce         | Rössle Sauerkraut                |       25696.6 |               2.03 |      2 |
| 20 | Produce         | Uncle Bob's Organic Dried Pears  |       22044.3 |               1.74 |      3 |
| 21 | Seafood         | Carnarvon Tigers                 |       29171.9 |               2.3  |      1 |
| 22 | Seafood         | Ikura                            |       20867.3 |               1.65 |      2 |
| 23 | Seafood         | Boston Crab Meat                 |       17910.6 |               1.41 |      3 |
+----+-----------------+----------------------------------+---------------+--------------------+--------+